<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <h3 style="margin-left: 1.75rem">{{ contact.name }}</h3>
    </div>
    <div class="row">
      <img
        [src]="contact.imageUrl"
        alt="{{ contact.name }}"
        class="img-responsive"
        style="max-height: 100px; margin-left: 1.4rem; display: inline"
      />
      <div
        class="flex-col pull-right btn-toolbar"
        style="margin-right: 0.8rem; margin-top: 3.5rem; margin-bottom: 1rem"
      >
        <a class="btn btn-primary" routerLink="edit">Edit</a>
        <a class="btn btn-danger" (click)="onDelete()">Delete</a>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <p><strong>Email: </strong>{{ contact.email }}</p>
    <p><strong>Phone: </strong>{{ contact.phone }}</p>
    <div class="row" *ngIf="contact.group">
      <div class="col-xs-12">
        <strong>Contacts in Team:</strong>
        <div class="panel-body" *ngIf="contact.group">
          <div class="row">
            <div
              class="col-xs-12 list-group-item"
              *ngFor="let contact of contact.group"
            >
              <div class="pull-left">
                <h4 class="list-group-item-heading">{{ contact.name }}</h4>
              </div>
              <span class="pull-right">
                <img
                  src="{{ contact.imageUrl }}"
                  alt="{{ contact.name }}"
                  class="img-responsive"
                  style="max-height: 80px"
                />
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
