<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <h4 class="pull-left" style="margin-left: 12px">Documents</h4>
      <a
        routerLink="new"
        class="btn btn-success pull-right"
        style="margin-right: 10px; margin-top: 4px"
        >Add Document</a
      >
    </div>
  </div>

  <div class="panel-body">
    <div class="center-panel">
      <cms-document-item
        *ngFor="let document of documents"
        [document]="document"
      ></cms-document-item>
    </div>
  </div>
</div>
